build/.bin_timestamp
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/bootloader/.ninja_log
build/esp-idf/main/libmain.a
sdkconfig
sdkconfig.old
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/bootloader/.ninja_log
build/bootloader/build.ninja
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/3.26.3/CMakeSystem.cmake
build/CMakeFiles/3.26.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/git-data/grabRef.cmake
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/config/sdkconfig.cmake
build/config/sdkconfig.h
build/config/sdkconfig.json
build/esp-idf/esp-tls/libesp-tls.a
build/esp-idf/esp-tls/CMakeFiles/__idf_esp-tls.dir/esp_tls_mbedtls.c.obj
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/main/libmain.a
build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
build/log/idf_py_stderr_output_13316
build/log/idf_py_stderr_output_17184
build/log/idf_py_stdout_output_13316
build/log/idf_py_stdout_output_17184
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-source_dirinfo.txt
build/mconf-idf-prefix/tmp/mconf-idf-cfgcmd.txt
build/mconf-idf-prefix/tmp/mconf-idf-mkdirs.cmake
.gitignore
sdkconfig
sdkconfig.old
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/compile_commands.json
build/bootloader/.ninja_log
build/bootloader/build.ninja
build/CMakeFiles/rules.ninja
build/CMakeFiles/git-data/grabRef.cmake
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/config/sdkconfig.cmake
build/config/sdkconfig.h
build/config/sdkconfig.json
build/esp-idf/esp-tls/libesp-tls.a
build/esp-idf/esp-tls/CMakeFiles/__idf_esp-tls.dir/esp_tls_mbedtls.c.obj
build/esp-idf/esp_app_format/libesp_app_format.a
build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
build/esp-idf/main/libmain.a
build/esp-idf/main/CMakeFiles/__idf_main.dir/main.c.obj
